venv/
__pycache__/

# AI models
*.pt
*.onnx
*.weights

# datasets
datasets/

# environment variables
.env

# macOS
.DS_Store

# python cache
*.pyc

# weights
weights/

# скрины
скрины/

# /ai/yolo/results
ai/yolo/results

# AI / ML artifacts
runs/

# tests media
tests/

# embeddings / indexes
*_embeddings.*
*_index.*

# logs / results
*.csv
*.yaml